<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Лента постов</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        .disabled {
         pointer-events: none; /* Отключим взаимодействие мыши */
         color: #808080; /* Установим серый цвет как индикатор недоступности */
         text-decoration: none; /* Уберем подчёркивание */
         cursor: default; /* Выберем стандартный курсор */
         opacity: 0.6; /* Добавим полупрозрачность для создания эффекта затухания */
        }

        form {
          margin:auto;/* nice thing of auto margin if display:flex; it center both horizontal and vertical :) */
        }


        nav {
          border-top: 1px solid #eee;
          margin-top: 1em;
          padding-top: 0.5em;
          font: 0.9em sans-serif;
          display: flex;
          justify-content: center;
        }

        .pagination {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
        }

        .pagination li {
          margin: 0 1px;
        }

        .pagination a {
          display: block;
          padding: 0.5em 1em;
          border: 1px solid #999;
          border-radius: 0.2em;
        }

        .center-screen {
          display: flex;
          justify-content: center;
          align-items: center;
          font: 1.1em sans-serif;
          min-height: 5vh;
        }

    </style>
</head>

<body>
<table>
    <tr>
        <td>
            <h2><u>Лента постов</u>
                <span th:if="${isFiltered}" th:text="': '+${tagFilter.name}"> </span>
            </h2>
        </td>
        <td>
            <div th:switch="${isFiltered}">
                <div th:case="true">
                    <a th:href="@{/feed}">Clear filter</a>
                </div>
            </div>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td>
            <button type="submit" onclick="toggleForm()">add post</button>
        </td>
    </tr>
</table>
<div class="form-container" id="editPostForm" style="display:none">
    <h2>Редактировать пост</h2>
    <form th:action="@{/feed/post}" method="POST" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label for="name">Название поста:</label></td>
                <td><input type="text" id="name" name="name" th:required="required" style="width:800px;"/></td>
            </tr>
            <tr>
                <td>Изображение:</td>
                <td><input id="imageDownload" type="file" name="image" accept="image/jpeg"/></td>
            </tr>
            <tr>
                <td><label for="text">Содержимое поста:</label></td>
                <td><textarea id="text" name="text" th:required="required" rows="5" cols="91"></textarea></td>
            </tr>
            <tr>
                <td><label for="name">Введите теги через ";"</label></td>
                <td><input type="text" id="tags" name="tags" th:required="required" style="width:800px;"/></td>
            </tr>
            <tr>
                <td>
                    <br/>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>


<table th:each="shortPostDto : ${postPage.content}">
    <tr>
        <td>
            <h3>
                <a th:href="@{/post/{postId}(postId=${shortPostDto.id})}" th:text="${shortPostDto.name}">Пост</a>
            </h3>
            <img th:src="'data:image/jpeg;base64,' + ${shortPostDto.base64Jpeg}" alt="Image" width="150"/>
            <section class="post-content" style="white-space: pre-line" th:text="${shortPostDto.text}">Текст поста
            </section>
            <br/>
            <table>
                <tr>
                    <td><img th:src="@{/images/heart.png}" width="30"/></td>
                    <td th:text="${shortPostDto.likes}"></td>
                    <td><img th:src="@{/images/comment.png}" width="30"/></td>
                    <td th:text="${shortPostDto.commentCounter}"></td>

                </tr>
            </table>
            <br/>
            <b>Теги:</b>
            <th:block th:each="tagDto : ${shortPostDto.tagsDto}">
                <a th:href="@{/feed(tagFilter=${tagDto.id})}" th:text="${tagDto.name}">tag</a>
                &#160;
            </th:block>
            <hr/>
        </td>
    </tr>
</table>
<br/>
<div th:switch="${isFiltered}">
    <div th:case="false">
        <nav aria-label="Page navigation">`
            <ul class="pagination">
                <li class="page-item">
                    <a th:href="@{/feed(page='0',size=${pageSize})}"
                       th:classappend="${postPage.number == 0 ? 'disabled' : ''}">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/feed(page=${postPage.number - 1},size=${pageSize})}"
                       th:classappend="${postPage.number == 0 ? 'disabled' : ''}">Previous</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(0, postPage.totalPages - 1)}"
                >
                    <a class="page-link" th:href="@{/feed(page=${i},size=${pageSize})}" th:text="${i + 1}"
                       th:classappend="${postPage.number == i ? 'disabled' : ''}"></a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/feed(page=${postPage.number + 1},size=${pageSize})}"
                       th:classappend="${postPage.number == postPage.totalPages - 1 ? 'disabled' : ''}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/feed(page=${postPage.totalPages - 1},size=${pageSize})}"
                       th:classappend="${postPage.number == postPage.totalPages - 1 ? 'disabled' : ''}">Last</a>
                </li>
            </ul>
        </nav>
    </div>
    <div th:case="*">
        <nav aria-label="Page navigation">`
            <ul class="pagination">
                <li class="page-item">
                    <a th:href="@{/feed(page='0',size=${pageSize},tagFilter=${tagFilter.id})}"
                       th:classappend="${postPage.number == 0 ? 'disabled' : ''}">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       th:href="@{/feed(page=${postPage.number - 1},size=${pageSize},tagFilter=${tagFilter.id})}"
                       th:classappend="${postPage.number == 0 ? 'disabled' : ''}">Previous</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(0, postPage.totalPages - 1)}"
                >
                    <a class="page-link" th:href="@{/feed(page=${i},size=${pageSize},tagFilter=${tagFilter.id})}"
                       th:text="${i + 1}"
                       th:classappend="${postPage.number == i ? 'disabled' : ''}"></a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       th:href="@{/feed(page=${postPage.number + 1},size=${pageSize},tagFilter=${tagFilter.id})}"
                       th:classappend="${postPage.number == postPage.totalPages - 1 ? 'disabled' : ''}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       th:href="@{/feed(page=${postPage.totalPages - 1},size=${pageSize},tagFilter=${tagFilter.id})}"
                       th:classappend="${postPage.number == postPage.totalPages - 1 ? 'disabled' : ''}">Last</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="center-screen">
    <form th:action="@{/feed}" method="GET" id="pageSizeInput">
        <input type="hidden" name="page" value="0"/>
        <div th:if="${isFiltered}">
            <input type="hidden" name="tagFilter" th:value="${tagFilter.id}"/>
        </div>
        <label>
            <select name="size" size="1" form="pageSizeInput">
                <option value="10" th:selected="${pageSize==10}">10</option>
                <option value="20" th:selected="${pageSize==20}">20</option>
                <option value="50" th:selected="${pageSize==50}">50</option>
            </select>
            <input type="submit" value="cтраниц на экране"/>
        </label>
    </form>
</div>
<div th:switch="${isFiltered}" class="center-screen">
    <div th:case="true">
        <a th:href="@{/feed}">Clear filter</a>
    </div>
</div>


<script>
    function toggleForm() {
        const form = document.getElementById('editPostForm');
        form.style.display = form.style.display === 'none' ? 'block' : 'none';
    }
</script>

</body>
</html>